body {
  background-color: white;
  background-image: url(https://cdn.wallpapersafari.com/38/14/ZG5qnJ.jpg);
}

h1 {
  color: #5ca0d3;
}

h2 {
  color: #5ca0d3;
}

h3 {
  color: #d61d4e;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #010059;
  border-width: 5px;
  width: 10%;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: "☯";
  color: #c8e6f5;
  font-weight: normal;
  width: 4em;
  margin: 20;
  margin-left: -1em;
}

a:link {
  color: black;
}

a:visited {
  color: white;
}

a:hover {
  color: #d61d4e;
}
